* {
	box-sizing: border-box;
}

body, html {
	background-color: #3B240B;
	margin: 0px;
	padding: 0px;
}

.contentParent {
	width: 500px;
	height: 500px;
	background-color: #ff0072;
}

.contentChild {
	width: 215%;
	background-color: #6A0888;
	padding: 20px;
	border: 15px solid black;
}